!!! 5
html(lang='en')  
	head
		title Instagram - Admin's Panel
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	body
		h1 RealTime Instagram - Admin's Panel
		h2 Subscriptions
		each tagId, tag in subscriptions
			li= tag
				a(href="/unsubscribe/#{tagId}") delete?
		br
		form(name="input", action="/subscribe", method="post")
			| Tag:
			input(type="text", name="subscription[tag]")
			input(type="submit", value="Add new subscription")


		h2 Recent pictures
		form(name="input", action="/recent", method="post")
			| Tag:
			input(type="text", name="recent[tag]", value=recent_pics_tag)
			input(type="submit", value="Change recent pictures")

		h2 Image Resolution
		form(name="input", action="/resolution", method="post")
			| Resolution:
			br
			| Standard
			input(type="radio", name="resolution", value="standard", checked=standard_resolution==true)
			| Low
			input(type="radio", name="resolution", value="low", , checked=standard_resolution==false)
			input(type="submit", value="Save")
